<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/admCreate.css">
        <title>Panel Administrativo - Charge</title>
</head>

<body>
    <% if (condition) { %>
     
    <% } %>
    <%- include('../partials/header')%>

        <main class="containerCreate">

            <section class="create-form-container">

                <form action="/products" method="POST" class="create-form-sections" enctype="multipart/form-data">


                    <h1 class="title-carga">CHARGE NEW PRODUCT</h1>


                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> DETAIL </legend>

                        <input id="nombre" type="text" name="name_product" placeholder="Nombre del producto" required>

                        <input class="number-input" id="precio" type="number" name="price" placeholder="Precio" min="0"
                            step=".01" required>

                        <textarea name="description" id="descripcion" placeholder="Descripción del producto"
                            required></textarea>

                        
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> IMAGEN </legend>
                        <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg">
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> STOCK </legend>

                        <label for="stock-xs">XS : <input type="number" class="number-input" name="xs"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                        <label for="stock-s">S : <input type="number" class="number-input" name="s"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                        <label for="stock-m">M : <input type="number" class="number-input" name="m"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                        <label for="stock-l">L : <input type="number" class="number-input" name="l"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                        <label for="stock-xl">XL : <input type="number" class="number-input" name="xl"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                        <label for="stock-xxl">XXL : <input type="number" class="number-input" name="xxl"
                                placeholder="Cantidad en stock" min="0" step="1" required></label>

                    </fieldset>

                    <button class="cargar-prod" type="submit">CARGAR PRODUCTO</button>

                </form>
            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>