<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/design.css">
        <title>Making it yours</title>
</head>

<body>

    <%- include('../partials/header')%> 
    <main>
        <h1>Es momento de hacer lo tuyo, de hacerlo tuyo...</h1>
        <input type="file" name="image_input" id="image_input" accept="image/png, image/jpg, image/jpeg">
        <div class="remera-div">
            <img src="images/Design/t-shirt-1976334_1280.webp" alt="Remera">

            <div class="mover-diseno-div">
                <div id="diseno-div" class="diseno-div"></div>
            </div>
            <div class="mover-diseno-div paint">
                <div id="diseno-div-canvas" class="diseno-div paint"></div>
            </div>

        </div>
    </main>
    <canvas id="canvas" width="300px" height="300px"></canvas>
    <br>
    <input type="color" name="color" id="color" oninput="color(this.value);">
    <input type="range" name="girth" id="girth" oninput="girth(this.value)" min="1" max="5" value="1">
    <button id="preview-btn">Preview</button>
    
    <%- include('../partials/footer') %> 
    <script src="/design.js"></script>
</body>

</html>