:root {
    --main-emphasis: #731963;
    --main-emphasis-filter: invert(13%) sepia(29%) saturate(7453%) hue-rotate(294deg) brightness(96%) contrast(92%);
    /* equivalencia para pngs obtenida a travez de https://codepen.io/sosuke/pen/Pjoqqp */

}
::selection {
    color: white;
    background: var(--main-emphasis);
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
a{
    /* reiniciando etiqueta a (bootstrap) */
    color: black;
    text-decoration: none;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

main{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-boot{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators{
    height: 100% ;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.detalle-producto{
   margin:10%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h5{
    margin-top: 18%;
}

.precio-producto{
    font-weight: bold;
    color: black;
    margin-bottom: 5%;
}
.descripcion-producto{
    margin-bottom: 5%;
}
.envios-div{
    margin-bottom: 2%;
    margin-left: 5%;
}
.envios-talle{
    display: flex;
}

footer{
    margin-top: auto;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.form-bt-edit{
    display: inline;

}

.btn-space{
    margin: .2rem;
}

.mainBtn{
    margin: 0%; /* Reseteando */
    width: 85vw;
    margin-bottom: 20%;
    margin-top: 8%;
}

@media(min-width: 769px){


    header{
        
    }
    .detalle-producto{
        margin:10%;
        display: block;
    }
    h1,h5{
        margin: auto;
    }

    .carousel-boot{
        width: 50%;
    }
    .detalle-producto{
        width: 50%;
        margin: 0%;
        padding-right: 5%;
     }
    main{
        margin-top:auto ;
        flex-direction: row;
    }
    
    .mainBtn{
        width: auto;
        margin-bottom: auto;
    }

    .carousel{

        height: 70%;
        margin: 10%;
    }
    
    .carousel-item img {
        height: 70%;
        object-fit: cover;
    }


}
@media(max-width: 768px){
    .botones{
        justify-content: center;
    }
    .detalle-producto{
        width: 50%;
        margin: 0%;
        padding-right: 5%;
     }
}
