:root {
    --main-emphasis: #731963;
    --main-emphasis-filter: invert(13%) sepia(29%) saturate(7453%) hue-rotate(294deg) brightness(96%) contrast(92%);
    /* equivalencia para pngs obtenida a travez de https://codepen.io/sosuke/pen/Pjoqqp */

}
::selection {
    color: white;
    background: var(--main-emphasis);
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
a{
    /* reiniciando etiqueta a (bootstrap) */
    color: black;
    text-decoration: none;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

main{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-boot{

    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators{
    height: 100% ;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.detalle-producto{
   margin:10%;
}
.precio-producto{
    font-weight: bold;
    color: black;
    margin-bottom: 5%;
}
.descripcion-producto{
    margin-bottom: 5%;
}
.envios-div{
    margin-bottom: 2%;
    margin-left: 5%;
}
.envios-talle{
    display: flex;
}

footer{
    margin-top: auto;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.form-bt-edit{
    display: inline;

}

.btn-space{
    margin: .2rem;
}


@media(min-width: 769px){
    .carousel-boot{
        width: 50%;
    }
    .detalle-producto{
        width: 50%;
        margin: 0%;
        padding-right: 5%;
     }
    main{
        flex-direction: row;
    }
    
    .carousel{

        height: 70%;
        margin: 10%;
    }
    
    .carousel-item img {
        height: 70%;
        object-fit: cover;
    }


}
@media(max-width: 768px){
    .botones{
        justify-content: center;
    }
}
