<footer>
    <div class="bloque">
        <div class="copyright">
            <p>© 2022 SelfInd, Inc. Todos los derechos reservados.</p>
        </div>
        <div class="redes">
            <a class="elemento-redes" href="#"><i id="needs-circle" class="fab fa-instagram"></i></a>
            <a class="elemento-redes" href="#"><i class="fab fa-facebook"></i></a>
            <a class="elemento-redes" href="https://github.com/LeonNegrete/grupo_2_SelfInd"><i
                    class="fab fa-github"></i></a>
            <a class="elemento-redes" href="#"><i id="needs-circle" class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>