<header>
    <div class="burguer-div">
        <span id="burguer">☰</span>
    </div>
    <div class="logo-div">
        <a class="logo-div" href="/home"><img id="logo" src="../images/logo.png" onerror="this.src='../../images/logo.png';"></a>
    </div>
    <div class="header-nav-text">
        <ul>
            <li class="nav-text-element"><a href="/home">Home</a></li>
            <li class="nav-text-element"><a href="/about">About</a></li>
            <li class="nav-text-element"><a href="">Contact</a></li>
            <li class="nav-text-element"><a href="/design">Make your own!</a></li>
        </ul>
    </div>
    <div class="header-nav-credentials">
        <% if (typeof(session.username) == 'undefined') { %>
            <ul>
                <li class="nav-text-element"><a href="/user/login">Log in</a></li>
                <li class="nav-text-element"><a href="/user/register">Sing in</a></li>
            </ul>
        <% }else{ %>
            <ul>
                <li class="nav-text-element"><a href="/user/profile"><%= session.username %> </a></li>
                <li class="nav-text-element"><a href="/user/profile" + session.id-%>"><img src=<%- "../images/users/" + session.profile %>  id="avatar-tiny" alt="" width="30px" height="30px"></a></li>
            </ul> 
        <% } %>    

    </div>
    <div class="cart-div">
        <a href="/carrito" class="cart-div">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
        </a>
        <div>
</header>