* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.containerCreate{
    display: flex;
    justify-content: center;
    height: 100%;
}

section.create-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2%;
    width: 90%;

    border-top: 40px solid #581845;
    border-radius: 10px;
    background: black;
    box-shadow: 7px 13px 37px black;
    color: white;
}

form.create-form-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.title-carga{
    font-size: 5vw;
    font-weight: bolder;
    padding: .5em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    border-bottom: white 4px solid;
}

fieldset.fieldCreate{
    margin: .5rem;
    border: #581845 solid 3px;
    border-radius: 5px;
    color: white;

}

legend.legendCreate{
    margin-left: 2vw;
    padding: .5vw;
    float:none;
    width:auto;
    background-color:#581845;
    color: white;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: bold;
}


fieldset.fieldCreate input {
    margin: .5rem;
    width: 95%;
    background-color: #252323 ;
    
}

fieldset.fieldCreate textarea {
    margin: .5rem;
    width: 95%;
    background-color: #252323;
    color:gray;
}


.buttons {
    width: 100%;
    height: 40px;
    background: #581845;
    border: none;
    color: white;
    margin-bottom: 16px;

}

button.cargar-prod{
    padding: .5vw;
    width: 50%;
    background: #581845;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 2vw;
    font-weight: bold;
}