
/*////////////////CARRITO////////////////*/
main#carrito {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carrito {
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 70px #731963;
    margin: 10px;
}

.pagoFinal{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 70px #731963;
    margin: 10px;
}

.header-car {
    margin: auto;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-car {
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
}

.remove-all {
    font-size: 10px;
    font-weight: bold;
    color: #E44C4C;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.car-articles {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*ARTICULO DEL CARRITO*/
article#car-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    height: 160px;
}

.header-article{
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    
}

.preview-article{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}

.img-article {
    width: 75px;
    height: 100%;
}

.detail-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
    margin-bottom: 5px;
}

.title-prod{
    color: #731963;
    font-weight: bold;
    font-size: 15px;
}

.title-detail{
    font-size: 12px;
    margin-bottom: 10px;
}

.data-detail{
    font-size: 10px;
}

div.cuantity-article select{
    width: 35px;
}


@media(min-width: 473px) {
    main#carrito{
        flex-direction: row;
    }

    .carrito{
        width: 60%;
    }
    .pagoFinal{
        width: 30%;
        height: 70%;
    }   

    .detail-article{
        height: 75px;
        width: 18%
    }
    
    .preview-article{
        width: 20%;
    }

    .img-article{
        width: 100%;
        height: 100%;
    }

}



@media(min-width: 769px) {
    .img-article{
        width: 75%;
    } 
}