
/*////////////////CARRITO////////////////*/
main#carrito {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carrito{
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 5px 8px #731963;
    margin: 10px;
}

.pagoFinal{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 5px 8px #731963;
    margin: 10px;
}

.header-boxes {/*Header de las boxes en la pagina carrito*/
    margin: auto;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulos-boxes {/*Formato de titulos para boxes*/
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
}

.remove-all {/*Boton remover todo*/
    font-size: 10px;
    font-weight: bold;
    color: #E44C4C;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

/*ARTICULO DEL CARRITO*/
.box-car-articles {/*Disposición de cada articulo*/
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

article#car-article{/*Disposición de secciones de 1 articulo*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    height: 160px;
}

.header-article{ /*Sección header para nombre del articulo del carrito*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-top: solid 2px #731963;
}
.title-prod{/*Nombre del articulo*/
    color: #731963;
    font-weight: bold;
    font-size: 15px;
}
.btn-del-article{
    color:  #731963;
}

.preview-article{/*Sección preview del preview*/
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}
.img-article {/*Formato del preview (imagen)*/
    width: 75px;
    height: 100%;
}

.detail-article{/*Disposición de 1 sección del articulo*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 22%;
    margin-bottom: 5px;
}
.title-detail{ /*Titulo sección del articulo*/
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.data-detail{/*Datos de la sección del articulo*/
    font-size: 10px;
}
div.cuantity-article select{/*Formato menu desplegable (sección del articulo)*/
    width: 35px;
}

/*PAGO FINAL*/

.box-buy-sections{/*Disposición de cada sección para el pago*/
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

article#buy-section{/*Disposición de secciones del pago*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.fa-tag{
    color: #731963;
}
.buy-title{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.buy-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.payment{
    border-top: solid 2px #731963;
    padding-top: 5px;
}
.payment-buton{
    border-radius: 20px;
    background-color: #731963;
    border: transparent;
    color: white;
    width: 40%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}

.code-input{
    border-radius: 20px;
    border: solid 1px #731963;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

@media(min-width: 460px) {
    main#carrito{
        flex-direction: row;
    }

    .carrito{
        width: 60%;
    }
    .pagoFinal{
        width: 30%;
        height: 70%;
    }   

    .detail-article{
        height: 75px;
        width: 18%
    }
    
    .preview-article{
        width: 20%;
    }

    .img-article{
        width: 100%;
        height: 100%;
    }

}



@media(min-width: 769px) {
    .img-article{
        width: 75%;
    } 
}