body{
    background-color: black;
}

main section.carga-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 5%;
    border: white solid 2px;
    border-radius: 20px;

}

.title-carga{
    background-color: whitesmoke;
    color: #731963;
    text-align: center;
    border-radius: 20px;
}

form.form-container {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    margin: .5rem;
    border-radius: 10px;
    border: white solid 2px;
    color: white;
    background-color:#731963;
}

form.form-container input {
    margin: .5rem;
    width: 80%;
    background-color: lightgray ;
}


form.form-container textarea {
    margin: .5rem;
    background-color: lightgray;
}

button.cargar-prod{
    width: 10rem;
}