*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --main-emphasis: #731963;
    --main-emphasis-filter: invert(13%) sepia(29%) saturate(7453%) hue-rotate(294deg) brightness(96%) contrast(92%);
    /* equivalencia para pngs obtenida a travez de https://codepen.io/sosuke/pen/Pjoqqp */

}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}
header{
    width: 100vw;
}

main{
    margin-top: 15vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px
}
form input{
    position: relative;
    outline: none;
   height: 2.5rem;
   width: 20%;
   transition: all 0.5s; 
   padding: 1.5rem;   
}
form input:focus{
    border: solid 0.125rem #731963;
    border-radius: 12px;
}
form input:invalid{
    border: solid 0.125rem red
}

button{
    width: 65%;
    padding: 0.7rem;  
    border-radius: 12px;
    background-color: #731963;
    color: white;
    border: none;
}

.elementoForm{
    margin-bottom: 5%;
}
.elemento-form{             /*No usamos la misma clase para no joder el posicionamiento del label*/
    margin-bottom: 5%;
}


.div-email, .div-contrasena{
    position: relative;
}

#contraseña, #email{
    width: 100%;
    
}

.label{
    margin-bottom: 10px;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 7%;
    transform: translateY(1rem);
    pointer-events: none;
    transition: 500ms ease;
    text-align: left;
}

form input:focus + #label-pass ,
form input:valid + #label-pass,
form input:invalid + #label-pass,

form input:focus + #label-pass-rep,
form input:valid + #label-pass-rep,
form input:invalid + #label-pass-rep,

form input:focus + #label-email,
form input:valid + #label-email,
form input:invalid + #label-email
{
    transform: translateY(-30%) scale(0.8);
    background-color: white;
    padding: 1%;
    margin-bottom: 10px;
}


.card{

    display: flex;
    justify-content: center;
    align-items: center;
    --bs-card-border-width:0px;
}
footer{
margin-top: auto;
}
@media(min-width: 361px){

}

@media(min-width: 769px){
    main{
/*         height: 80vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:  0px;
    }
    .card{
        padding: 8% 0px;
        margin: 12% 0px;
        height: 70%;
        width: 30%;
        border:solid 1px #731963;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px
    }
    form input{
        position: relative;
        outline: none;
       height: 2.5rem;
       width: 20%;
       transition: all 0.5s; 
       padding: 1.5rem;   
    }
    form input:focus{
        border: solid 0.125rem #731963;
        border-radius: 12px;
    }
    
    
    button{
        width: 65%;
        padding: 0.7rem;  
        border-radius: 15px;
        background-color: #731963;
        color: white;
        border: none;
    }
    
/*     .elemento-form{
        margin: 5%;
    } */
    
    
    
    .div-email, .div-contrasena{
        position: relative;
    }
    
    #contraseña, #email{
        width: 100%;
        
    }
    
    .label{

        position: absolute;
        z-index: 2;
        top:0%;
        left: 5%;
        transform: translateY(1rem);
        pointer-events: none;
        transition: 500ms ease;
    }

    
}