:root {
    --main-emphasis: #731963;
    --main-emphasis-filter: invert(13%) sepia(29%) saturate(7453%) hue-rotate(294deg) brightness(96%) contrast(92%);
    /* equivalencia para pngs obtenida a travez de https://codepen.io/sosuke/pen/Pjoqqp */

}
::selection {
    color: white;
    background: var(--main-emphasis);
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    overflow: visible;
    font-family: 'Roboto', sans-serif;
}

a{
    /* reiniciando etiqueta a (bootstrap) */
    color: black;
    text-decoration: none;
}







/* /////////////HEADER/////////////// */
header {
    background-color: #ffffff;
    border-bottom: solid black 1px;
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
    /* el z-index de los indicadores del carousel de bootstrap es 2 */
}

.burguer-div {
    height: 10vh;
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0.33;
}

#burguer {
    font-weight: bolder;
    margin-left: 10%;

}

.logo-div {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#logo {
    height: 80%;
    transition: all .18s;
}

#logo:hover {
    filter: var(--main-emphasis-filter);
}

.header-nav-credentials,
.header-nav-text {
    display: none;
}

.cart-div {
    height: 10vh;
    width: 33%;
    flex-grow: 0.33;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 200,
        'opsz' 40;
    margin-right: 10%;
    transition: all .4s;
}

.material-symbols-outlined:hover {
    color: var(--main-emphasis);
}

/* /////////////MAIN/////////////// */
/* Carrousel */

main {
    z-index: 1;
}

.carousel-item img {
    height: 90vh;
    object-fit: cover;
}

/* Catalogo */

.productos {
    /* lo unico que hace es centrar el section .nuevo  ,vendidos en columna */
    background-color: white;
    /* Contenedor de categorias */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.productos h4 {
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    /*  Titulares de categorias */
    margin-left: 3vw;
    margin-top: 3vw;
    width: 100%;
}

.nuevo,
.vendidos {
    /* Categorias  */
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo {
    width: 75%;
    background-color: #ffffff;
    /* Articulos */
    margin: 4vw;
    box-shadow: inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.articulo .articulo{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.img-articulo {
    width: 100%;
    margin-bottom: 3%;
/*     transform: scale(1.5); */
    /* imagen de producto */
}


.articulo h5 {
    font-weight: bolder;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    font-size: 0.9rem;
    text-align: center;
}

/*Boton*/

.make-btn {
    color: #ffffff !important;
    background-color: var(--main-emphasis) !important;
    border: solid 1px var(--main-emphasis) !important;
}

.make-btn a{
    color:#ffffff
}

.make-btn:hover {
    color: var(--main-emphasis) !important;
    border: solid 1px var(--main-emphasis) !important;
    background-color: #ffffff !important;
}
.make-btn:hover a{
    color:var(--main-emphasis) !important;
}




/* /////////////FOOTER/////////////// */
footer {
    margin-top: 4vw
}


.bloque {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 2vw;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: black;
    color: #ffffff;
    align-content: center;
}

p {
    margin-bottom: 0px;

}

footer a {
    color: #ffffff
}

.redes,
.copyright {
    font-size: 3vw;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    align-items: center;
}

.elemento-redes {
    margin: 5% 10%;
    font-size: 1rem;
}

/* /////////////TRANSITIONS Y ANIMACIONES/////////////// */

a:hover {
    color: var(--main-emphasis);
}


@media(min-width: 361px) {

    /* MAIN */

    .productos h4 {
        align-self: center;
        text-align: center;
        margin: 0px;
    }

    .nuevo,
    .vendidos {
        align-content: center;
        margin-top: 3%;
    }

    .articulo {
        width: 41%;
        height: auto;
    }

    .articulo h5 {
        font-size: 0.7rem;
    }

    .redes {
        font-size: 1rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media(min-width: 769px) {

    /* HEADER */

    header {
        position: static;
    }

    .burguer-div {
        display: none;
    }

    .logo-div {
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
        width: 10%;
    }


    .header-nav-credentials a,
    .header-nav-credentials ul,
    .header-nav-text a,
    .header-nav-text ul {
        text-decoration: none;
        font-style: normal;
        color: black;
        font-family: 'Roboto', sans-serif;
        width: 100%;
    }
    .header-nav-credentials a:hover,
    .header-nav-credentials ul:hover,
    .header-nav-text a:hover,
    .header-nav-text ul:hover {
        color: var(--main-emphasis);
    }

    .header-nav-text {
        display: block;
        width: 100%;

    }

    .header-nav-text ul {
        display: flex;
        list-style: none;
        margin-bottom: 0px;
        /* debido a bootstrap */
        width: 100%;
        padding: 0%;
    }

    .header-nav-credentials {
        display: flex;
        height: 100%;
        width: 70%;
        justify-content: flex-end;
        align-items: center;
    }

    .header-nav-credentials ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 100%;
        margin: 0px;
        /* debido a bootstrap */
    }

    .nav-text-element {
        margin: 0px 3%;
    }

    .header-nav-credentials a::after,
    .header-nav-text a::after {
        content: '';
        width: 0px;
        height: 2px;
        display: block;
        background: var(--main-emphasis);
        transition: all .4s;
    }

    .header-nav-credentials a:hover::after,
    .header-nav-text a:hover::after {
        width: 100%;

    }

    .cart-div {
        width: fit-content;
        margin: 0px 3%;
    }

    /* MAIN */
    .img-articulo{
        width: 120%;
    }

    .carousel-item img {
        object-position: 0px 5%;
    }

    .articulo {
        width: 16%;
        height: auto;
    }

    .articulo h5 {
        font-size: .75rem;
    }

    /* FOOTER */

    .bloque {
        flex-direction: row;
    }

    .copyright {
        font-size: 1rem;
    }

    .redes {
        font-size: 1rem;
        padding-left: 3%;
        justify-content: flex-end;
    }

    .elemento-redes {
        font-size: 1rem;
        margin: 5% 5%;
    }
}