*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.header-nav-credentials,.header-nav-text{
    display: none;
}


/* /////////////HEADER/////////////// */
body{
    overflow: visible;
}
header{
    background-color: #ffffff;
    border-bottom:solid black 2px;
    height: 10vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    z-index: 2;
}

.logo-div{
    position: absolute;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 70%;
}

.cart-div{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.material-symbols-outlined{
    margin-right:7% ;
}
#cart{
    margin-right: 7%;
}

.burguer-div{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#burguer{
    font-weight: bolder;
    margin-left: 7%;
}



/* //////////////////main////////////////////// */
    /* Carrousel */

main{
    z-index: 1;
}

.carrousel-padre{
    background-color: #533483;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}
.imagenes{
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.imagenes .text-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagenes img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#img-vacia{
    display: none;
}

.puntos-padre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.puntos{
    width: 100vw;
    display: flex;
    padding-left: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}
.punto{
    margin:5px;
    padding: 0px;
}

    /* Catalogo */



.productos h4{
    align-self: flex-start;
    font-family:'Roboto', sans-serif;               /*  Titulares de categorias */
    margin-left: 3vw;
    margin-top: 3vw;
}
.productos{
    /* lo unico que hace es centrar el section .nuevo  ,vendidos en columna */
    background-color: white;       /* Contenedor de categorias */   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.nuevo,.vendidos{
       /* Categorias  */
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h4{
    width: 100%;
}

.productos h5{
    margin:2px;
    font-family:'Roboto', sans-serif;      
}

.articulo{
width: 50vh;
height: 50vh;
background-color: #ffffff;         /* Articulos */
margin: 4vw;
box-shadow: inset;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
object-fit: cover;
}
.img-articulo{
    width: 100%;                         /* imagen de producto */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 40
}


#burguer:hover{
    c: #731963;
}
/* } .cart-div:hover, #burguer:hover{

} */


@media(min-width: 361px){
    .articulo{
        width: 41%;
        height: auto;
    }
    .productos h4{
        align-self: center;
        text-align: center;
        margin: 0px;
    }
    
    .nuevo,.vendidos{
        align-content: center;
        margin-top: 3%;
    }




/*     .carrousel-padre{
        width: 100vw;
    }
    .imagenes{
        width:100%;
    }
    .imagenes img{
        width: 100%;
    } */
    
}

@media(min-width: 769px){
    ul, a{
        text-decoration: none;
        font-style: normal;
        color: black;
        font-family:'Roboto', sans-serif;   


    }

    .logo-div{
    justify-content: flex-start;
    margin-left:5% ;
    }






    .articulo{
        width: 16%;
        height: auto;
    }
    header{
        position: static;
    }
    .header-nav-text{
        display: block;
        width: 90%;
    }
    .header-nav-text ul{
        margin-left: 10%;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    .header-nav-credentials{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .cart-div{
        width: fit-content;
        margin: 0px 3%;
    }
    .credenciales{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 25%;
    }

    .burguer-div{
        display: none;
    }

}