<nav>
    <div class="burguer-nav">
        <a href="/home">Home</a>
        <a href="/about">About us</a>
        <a href="#">Contact</a>
        <a href="/design">Make your own</a>
        <div class="divider"></div>
        <a href="/user/register">Sing In</a>
        <a href="/user/login">Log in</a>
    </div>
</nav>

