<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<!-- Iconos -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!-- Hoja de estilos local -->
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/Detallado.css">

    <title>SelfInd</title>
</head>
<body>
    <header>
        <div class="burguer-div">
            <span id="burguer">☰</span>
        </div>
        <div class="logo-div">
            <a class="logo-div" href="/home"><img id="logo" src="../images/logo.png"></a>
        </div>
        <div class="header-nav-text">
            <ul>
                <li class="nav-text-element"><a href="">Home</a></li>
                <li class="nav-text-element"><a href="">About</a></li>
                <li class="nav-text-element"><a href="">Contact</a></li>
                <li class="nav-text-element"><a href="/design">Make your own!</a></li>
            </ul>
        </div>
        <div class="header-nav-credentials">
            <ul>
                <li class="nav-text-element"><a href="">Log in</a></li>
                <li class="nav-text-element"><a href="">Sing in</a></li>
            </ul>
        </div>
        <div class="cart-div">
            <a href="/cart" class="cart-div">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
            <div>
    </header>

    <main>
        <section class="productos">
            <section class="nuevo">
                <h4>Camiseta XXX</h4>
                <h4>$5699</h4>
                <article class="articulo">
                    <img src="../public/images/Remeras/argentina1.webp" alt="" class="imagenes-detalle">
                                   
                </article>
                <article class="articulo">
                 
                    
                    <div class="header-nav-text">
                    <span>
                        <h4>Talles</h4> <ul>
                            <li>XL</li>
                            <li>L</li>
                            <li>M</li>
                            <li>S</li>
                            <li>XS</li>
                       
                        </span>
                    </div>
                    </ul>
                    <img src="../public/images/Remeras/talles.png" alt="" class="img-articulo">
                    <!-- <h4>Colores</h4> -->
    
                </article>
            </section>
            <section>    
            <article>
                    <div class="header-nav-text">
                        <span>
                          <ul>
                                <li>Agregar al carrito</li>
                                <li><button class="add"></button>
                                    <div class="cart-div">
                                    <span class="material-symbols-outlined">
                                             shopping_cart</li>                 
                            </span>
    
                </article>
            </section>
            </section>
            
        </section>
        <button id="MakeYours"></button>
    </main>        

    <footer>
        <div class="bloque">
            <div class="copyright">
                <p>© 2022 SelfInd, Inc. Todos los derechos reservados.</p>
            </div>
            <div class="redes">
                <a class="elemento-redes" href="#"><i id="needs-circle" class="fab fa-instagram"></i></a>
                <a class="elemento-redes" href="#"><i class="fab fa-facebook"></i></a>
                <a class="elemento-redes" href="https://github.com/LeonNegrete/grupo_2_SelfInd"><i
                        class="fab fa-github"></i></a>
                <a class="elemento-redes" href="#"><i id="needs-circle" class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>


































