<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>SelfInd</title>
</head>
<body>
    <header>
        <div class="burguer-div">
            <span id="burguer">☰</span>
        </div>
        <div class="logo-div">
            <img id="logo" src="../public/images/logo.png">
        </div>
        <div class="cart-div">
            <i id="cart" class="fas fa-shopping-cart"></i>
        </div>
    </header>
    <main>
        <section class="carrousel-padre">
                <div class="imagenes">
                    <img id="img-1" src="../public/images/Carrousel/3.jpg" alt="Imagen 1" class="img">
                    <div class="text-image">SELF IND</div>
                    <img id="img-vacia"src="#" alt="Imagen 2" class="img">
                </div>
                <div class="puntos-padre">
                    <ul class="puntos"> 
                        <li class="punto"></li>
                        <li class="punto"></li>
                    </ul>
                </div>                                                      
        </section>

        <section class="productos">
            <section class="nuevo">
                <h4>Nuevos drops</h4>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/argentina1.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/colombia-rem2.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/mexico-rem1.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/mexico-rem2.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
            </section>
            <section class="vendidos">
                <h4>Vendidos</h4>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/argentina-rem2.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/colombia-rem1.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/argentina-rem2.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <h4 class="descripcion"></h4>
                    <img src="../public/images/Remeras/colombia-rem1.webp" alt="" class="img-articulo">
                    <h5 class="precio"></h5>
                    <button class="add"></button>
                </article>
            </section>
        </section>
        <button id="MakeYours"></button>
    </main>    
    <footer>

    </footer>
</body>
</html>