<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<!-- Iconos -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <title>SelfInd</title>
</head>
<body>
    <header>
        <div class="burguer-div">
            <span id="burguer">☰</span>
        </div>
        <div class="header-nav-text">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Make your own!</a></li>
            </ul>
        </div>
        <div class="logo-div">
            <img id="logo" src="../public/images/logo.png">
        </div>
        <div class="header-nav-credentials">
            <ul class="credenciales">
                <li><a  href="">Log in</a></li>
                <li><a  href="">Sing in</a></li>
            </ul>
        </div>
        <div class="cart-div">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </header>
    <main>
        <section class="carrousel-padre">
                <div class="imagenes">
                    <img id="img-1" src="../public/images/Carrousel/3.jpg" alt="Imagen 1" class="img">
                    <div class="text-image">SELF IND</div>
                    <img id="img-vacia"src="#" alt="Imagen 2" class="img">
                </div>
                <div class="puntos-padre">
                    <ul class="puntos"> 
                        <li class="punto"></li>
                        <li class="punto"></li>
                    </ul>
                </div>                                                      
        </section>

        <section class="productos">
            <section class="nuevo">
                <h4>Nuevos drops</h4>
                <article class="articulo">

                    <img src="../public/images/Remeras/argentina1.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Argentina</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
                <article class="articulo">

                    <img src="../public/images/Remeras/colombia-rem2.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Colombiana</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
                <article class="articulo">

                    <img src="../public/images/Remeras/mexico-rem1.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Mexicana Alt</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
                <article class="articulo">

                    <img src="../public/images/Remeras/mexico-rem2.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Mexicana</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
            </section>
            <section class="vendidos">
                <h4>Vendidos</h4>
                <article class="articulo">

                    <img src="../public/images/Remeras/argentina-rem2.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Argentina</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
                <article class="articulo">

                    <img src="../public/images/Remeras/colombia-rem1.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Colombiana</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>

                </article>
                <article class="articulo">

                    <img src="../public/images/Remeras/argentina-rem2.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Argentina</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>
                </article>
                <article class="articulo">
                    <img src="../public/images/Remeras/colombia-rem1.webp" alt="" class="img-articulo">
                    <h5 class="titulo">Camiseta Seleccion Colombiana</h5>
                    <h5 class="precio">$5699</h5>
                    <button class="add"></button>
                </article>
            </section>
        </section>
        <button id="MakeYours"></button>
    </main>    
    <footer>

    </footer>
</body>
</html>