<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/login-register.css">
        <title>SelfInd</title>
</head>

<body>
    <%- include('../partials/header')%> 
    <main>
        <div class="card">
            <form action="/user" method="POST" enctype="multipart/form-data">
                <h1 class="elemento-form">Crear una cuenta</h1>
                
                <div class="div-email"> <!-- NOMBRE -->
                
                    <input id="email" name="name" class="elemento-form" type="text">
                    <!-- Por fines esteticos no le ponemos aun los required, ya que sin javascript no podemos configurar el input de manera que solo muestre el invalid despues del intento de submit -->
                    <label id="label-email" class="label" for="name">Nombre</label>
                
                </div>
                
                <div class="div-email">

                    <input type="text" name="username" id="username" class="elemento-form">
                    <label id="label-username" for="username" class="label">Nombre de usuario</label>

                </div>

                <div class="div-email">

                    <input id="email" name="email" class="elemento-form" type="email">
                    <!-- Por fines esteticos no le ponemos aun los required, ya que sin javascript no podemos configurar el input de manera que solo muestre el invalid despues del intento de submit -->
                    <label id="label-email" class="label" for="email">E-mail</label>

                </div>



                <div class="div-contrasena">

                    <input id="password" name="password" class="elemento-form" type="password">
                    <!-- Por fines esteticos no le ponemos aun los required, ya que sin javascript no podemos configurar el input de manera que solo muestre el invalid despues del intento de submit -->
                    <label id="label-pass" for="password" class="label">Contraseña</label>

                </div>

                <div class="div-profile">

                    <input type="file" name="profile" id="profile" class="elemento-form">
                    <label id="label-profile" for="profile" class="label">Foto de perfil</label>

                </div>

                <button type="submit" class="elemento-form  btn btn-outline-primary make-btn">Registrarse</button>
                <a class="elemento-form" href="/user/login">¿Ya tienes una cuenta?</a>
            </form>
            <% if (errors !== {}) { %>
                <%for (let err in errors){%>
                  
                    <p><%= errors[err].msg %> </p>
                 <%}%>   
                    
            <% } %> 
        </div>
    </main>
    <%- include('../partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>